* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-centered{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;

}

nav {
    display: flex;
    flex-direction: row;

}

#nav-inner {
    height: 80px;
    width: 100%;
    background-color: rgb(0, 204, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#logo{
width: 100px;
height: 70px;
background: green;
}
/* test */

#links {
    height: 70px;
    width: 500px;
    background-color: rgb(247, 99, 99);
}
/* test */

#login {
    height: 70px;
    width: 100px;
    background-color: rgb(245, 65, 245);
}
/* test */

#links{
    align-items: stretch;
}
/* test */

li {
    height: 20px;
    width: 40px;
    background-color: brown;
}
/* test */

#unordered{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
/* test */


#header-centered {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 204, 255);
}

/* test */


.header-sons{
    width: 500px;
    height: 100px;
    border: 1px solid black;
    background-color: red;
}
/* test */


#buttons-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* test */

.button-1-2 {
    height: 20px;
    width: 80px;
}
/* test */


.section-centered-1 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}



.img-1{
        height: 300px;
        width: 300px;
        background-color: brown;
    }

.h2-p {
    height: 300px;
    width: 300px;
    background-color: brown;
}

#flex1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img-2{
    height: 300px;
    width: 600px;
    background-color: brown;
}

.h2-p-2 {
    height: 100px;
    width: 600px;
    background-color: brown;
}


.section-centered-2 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#avventura  {
    height: 100px;
    width: 600px;
    background-color: brown;


}

#scarica {
    height: 100px;
    width: 600px;
    background-color: brown;
}


.section-centered-3 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    height: 800px;
    display: flex;
    justify-content: space-between;

}

.element-footer {
    height: 500px;
    width: 150px;
    background-color: brown;


}
